body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #161616;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0; 
 }

.hide {
    display: none;
 }

.text-center {
    text-align: center;
}


/* -- container -- */
.container {
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    padding: 0 15px;
}


/* -- header -- */
.header {
    width: 100%;
    margin: 12px auto 0 auto;

    background-color: #161616;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    margin: 0 auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 20px;
}


/* -- nav -- */
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.nav__link {
    margin-left: 50px;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

    position: relative;
}

.nav__link::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #FFBE1A;
     
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__footer .nav__link {
    margin-left: 27.5px;
    margin-right: 27.5px;
}


/* -- burger -- */
.burger {
    display: none;
    width: 30px;
    height: 20px;
    padding: 0;

    border: 0;
    background: none;
    cursor: pointer;

    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
}

.burger::before,
.burger::after,
.burger__item {
    display: block;
    width: 100%;
    height: 2px;

    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger::before,
.burger::after {
    content: "";
    transition: transform 0.2s linear;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger__item {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s linear;
}

.burger.active .burger__item {
    opacity: 0;
}

.burger.active::before,
.burger.active::after {
    top: 50%;
}

.burger.active::before {
    transform: rotate(45deg);
}

.burger.active::after {
    transform: rotate(-45deg);
}


/* -- intro -- */
.intro {
    width: 100%;
    max-width: 1310px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    position: relative;
}

.intro__inner { 
    width: 100%;
    margin: 0 auto;
    text-align: center;   
}

.intro__foto {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 24px;

    object-fit: cover;
    border-radius: 50%;
}

.intro__title {
    margin-bottom: 4px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFBE1A;
}

.intro__subtitle {
    font-weight: 400;
    font-size: 24px;
}

.intro__left {
    position: absolute;
    top: 217px;
    left: -58px;
}

/* -- social/scroll -- */
.social {
    display: flex;
    flex-direction: column;
}

.social--contact {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.social__link {
    margin-bottom: 32px;
    cursor: pointer;
}

.social--contact .social__link {
    margin-right: 10px;
}

.scroll {
    display: flex;
    align-items: center;
    margin-top: 67px;

    font-weight: 400;
    font-size: 12px;

    transform: rotate(-90deg);
}

.scroll__title {  
    cursor: pointer;
}

.scroll span {
    margin-left: 25px;
    width: 70px;
    height: 1px;
    background-color: #FFFFFF;
}


/* -- section -- */
.section__subtitle {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;

    text-align: center;
}

.section__subtitle--about {
    text-align: left;
    margin-bottom: 0;
}

.section__subtitle--skills {
    margin-bottom: 14px;
    text-align: left;
}

.section__subtitle--blog {
    margin-bottom: 26px;
}

.section__subtitle::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 3px;
    margin-left: 20px;

    background-color: #FFFFFF;
}

.section__subtitle--skills::after {
    margin-left: 29px;
}


/* -- about -- */
.about {
    display: flex;
    justify-content: center;
    padding: 97px 15px 105px 30px;
    background-color: #0D0D0D;
}

.about__inner {
    display: flex;
    width: 100%;
    max-width: 1020px; 
}

.about__left {
    margin-right: 75px;
    width: 35%;
}

.about__foto {
    border-radius: 20px;
    background-color: rgba(94, 94, 94, 0.25);

    transform: rotate(-7.17deg);
}

.about__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;

    border-radius: 20px;

    transform: rotate(7.17deg);
}

.about__right {
    width: 65%;
}

.about__title {
    margin-bottom: 25px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFBE1A;
}

.about__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
}


/* -- skills -- */
.skills__content {
    display: flex;
    flex-wrap: wrap;
}

.skills__list {
    width: 27%;
    margin-block-start: 0em;
    margin-block-end: 14px;
    margin-inline-start: -22px;
    margin-inline-end: 40px;
}

.skills__item::marker {
    color: #FFBE1A;
}


/* -- works -- */
.works {
    overflow-x: hidden;
    padding: 88px 0 100px 0;
}

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.works__nav-link {
    margin: 0 25px;

    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    
    position: relative;
}

.works__nav-link::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #FFBE1A;
     
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.works__nav-link:hover::after {
    width: 100%;
}

.works__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 39px;
    margin: 0 auto 50px auto;
}

.works__item {
    border-radius: 20px;
    overflow: hidden;

    position: relative;
}

.works__type {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
}

.works__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* -- swiper -- */
.swiper-container {
    position: relative;
}

.swiper-pagination {
    bottom: -62px !important;
} 

.swiper-pagination-bullet {
    background-color: #FFBE1A;
}


/* -- blog -- */
.blog {
    padding-top: 88px;
    padding-bottom: 171px;
    overflow-x: hidden;

    background-color: #0D0D0D
    ;
}

.blog__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 39px;

}

.blog__item {
    padding: 36px 31px 23px 31px;

    background-color: #161616;
    border-radius: 20px;
}

.blog__title {
    margin-bottom: 18px;

    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFBE1A;
    text-align: center;
}

.blog__text {
    margin-bottom: 80px;
    font-size: 16px;

    -webkit-line-clamp: 7; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog__footer {
    display: flex;
    justify-content: center;

    font-weight: 400;
    font-size: 14px;
    color: #FFBE1A;
    cursor: pointer;

    text-decoration: none;
}

.blog__footer:hover {
    text-decoration: underline;
}


/* -- contact -- */
.contact {
    padding-top: 88px;
    padding-bottom: 132px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.contact__left {
    width: 50%;
    margin-right: 122px;
}

.contact__title {
    margin-bottom: 22px;

    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFBE1A;
}

.contact__text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
}

.contact__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.form {
    margin-bottom: 36px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.form__label {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
}

.form__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 16px;

    background: rgba(184, 184, 184, 0.25);
    border: none;
    border-radius: 10px; 
    outline: none;

    font-family: 'Inter', sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.35);
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.35);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.form__input--textarea {
    height: 104px;
    resize: none;
}

.form__footer {
    text-align: right;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 6px 13px;
    color: #161616;
    background-color: #FFBE1A;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;

    outline: none;
}

.footer {
    padding: 35px 0 9px 0;
    background-color: #FFBE1A;
}

.foter__inner {
    display: flex;
    flex-direction: column;
}

.footer__title {
    margin-bottom: 45px;

    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

.footer__copyright {
    text-align: center;

    font-weight: 400;
    font-size: 12px;
}


/* -- media -- */
@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 1199px) {
    
}


@media screen and (max-width: 991px) {

    body {
        overflow-x: hidden;
    }

    /* -- header -- */
    .nav--footer {
        display: block;  
    }

    /* -- works -- */
    .works__inner {
        grid-template-columns: repeat(3, 1fr);
    }

    /* -- contact -- */
    .contact__left {
        margin-right: 60px;
    }

    /* -- about -- */
    .skills__list {
        width: 35%;
        margin-inline-end: 9px;
    }

}


@media screen and (max-width: 767px) {

    /* -- header -- */
    .header {
        margin: 0 auto;
    }

    .header__inner {
        padding: 25px;
        background-color: #161616;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #333;

        position: absolute;
        top: -390%;
        left: 0;
        right: 0;
        z-index: -1;
        
        transition: transform .2s linear;
    }

    .nav.active {  
        transform: translateY(100%);  
    }

    .nav__link {
        display: block;
        margin: 10px 50px 10px 50px;
        font-size: 14px;
    }

    .burger {
        display: block;
    }

    /* -- intro -- */
    .intro {
        min-height: 700px;
    }

    .intro__left {
        top: 115px;
        left: -67px;
    }

    /* -- about -- */
    .about {
        padding: 68px 15px 84px 15px;
    }

    .about__inner {
        flex-wrap: wrap;
    }

    .about__left {
        width: 60%;
        margin: 0 auto 50px auto;
    }

    .section__subtitle--about,
    .about__title,
    .section__subtitle--skills {
        text-align: center;
    }

    .about__right {
        width: 100%;
    }

    /* -- works -- */
    .works {
        padding: 68px 0 80px 0;
    }

    .works__inner {
        grid-template-columns: repeat(2, 1fr);  
    }

    .works__nav {
        flex-wrap: wrap;
        margin-bottom: 38px;
    }


    /* -- blog -- */  
    .blog {
        padding-top: 68px;
        padding-bottom: 151px;
    }

    .blog__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    /* -- contact -- */
    .contact {
        padding-top: 68px;
        padding-bottom: 86px;
    }

    .footer {
        padding: 25px 0 9px 0;
    }

    .nav__footer .nav__link {
        margin: 0 27.5px 0 27.5px;
    }
}


@media screen and (max-width: 575px) {

    /* -- intro -- */
    .intro__foto {
       width: 150px;
       height: 150px; 
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    /* -- section -- */
    .section__subtitle {
        font-size: 18px;
    }

    .section__subtitle--about {
        margin-bottom: 4px;
    }

    .section__subtitle--blog {
        margin-bottom: 16px;
    }

    /* -- about -- */
    .about__left {
        width: 80%;
    }
    
    .about__title {
        margin-bottom: 15px;
        font-size: 30px;
    }

    .about__text {
        margin-bottom: 30px;
    }

    .skills__content {
        justify-content: space-between;
    }

    .skills__list {
        width: 50%;
        margin-right: 0;
    }

    /* -- works -- */
    .works__nav {
        margin-bottom: 23px;
    }

    .works__nav-link {
        font-size: 11px;
        margin: 0 9px 9px 9px;
    }

    .works__inner {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;   
        
    }

    /* -- blog -- */
    .blog__inner {
        grid-template-columns: repeat(1, 1fr);
        width: 90%; 
    }

    /* -- contact -- */
    .contact__inner {
        flex-wrap: wrap;
    }

    .contact__left {
        width: 100%;
        margin-right: 0;
    }

    .contact__title {
        margin-bottom: 12px;
        font-size: 30px;
    }

    .contact__text {
        margin-bottom: 22px;
    }

    .social--contact {
        margin-bottom: 32px;
    }

    .contact__right {
        width: 100%;
    }

    /* -- footer -- */
    .nav__footer {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    
    .nav__footer .nav__link {
        margin: 0 9px 8px 9px;
        font-size: 11px;
    }

    .footer__title {
        margin-bottom: 25px;
    }
}




